strong {
  display: inline;
}

.App {
  text-align: center;
}

body {
  background-color: dimgray !important;
  color: white !important;
}

ul {
  list-style-type: none;
}

.App-link {
  color: #61dafb;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
}

.item {
  box-sizing: border-box;
  margin: 10px;
  background-color: black;
  color: white;
}

.item-inner {
  display: table-row;
}

.item-inner > div {
  display: table-cell;
  box-sizing: border-box;
}

.burger > div {
  width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px;
}

@media screen and (min-width: 480px) {
  .item-image {
    width: 200px;
    vertical-align: middle;
  }
}

header {
  width: 100%;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

button.menu-button {
  display: none;
}

#header-row {
  display: flex;
  flex-direction: row;
  flex: 1;
  font-size: 1.2em;
}

#header-row h1 {
  font-size: 1.2em;
}

#header-row > *:last-child {
  font-size: 0.5em;
  text-align: right;
}

#header-row > * {
  flex-basis: 100%;
}

.burger {
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  .desktop {
    display: none !important;
  }

  button.menu-button {
    display: inline !important;
    padding: 1.0em !important;
  }

  .mobile {
    display: block;
  }

  nav.mobile {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 2px;
    width: 100vw;
    max-height: 0;
    overflow: hidden;
    transition: max-height 400ms ease-in-out;
    background: rgb(36, 97, 250);
    color: white;
  }

  nav.mobile.show {
    max-height: 100vh;
    transition: max-height 400ms ease-in-out;
  }

  nav.mobile h2 {
    font-size: 1.2em;
  }

  nav.mobile button {
    width: 100%;
    padding: 0.5em;
    border: none;
  }

  .nav-checkbox {
    z-index: 9999;
  }

  .item-details {
    padding: 10px;
  }

  .item-image {
    display: none !important;
  }

  .item-header {
    text-align: center;
  }

  .item-description {
    text-align: center;
    padding: 5px 0px 5px 0px;
  }

  h1, h2, h3 {
    text-align: center;
  }

  .battler-section {
    margin-left: 10px;
  }

  button {
    padding: 2em;
  }

  .item-stats {
    grid-template-columns: 1fr !important;
  }
  
  .item-stats > *:not(:first-child) {
    margin-left: 10px;
  }

  .burger {
    visibility: visible;
  }
}

.item-count {
  width: 20px;
  color: white;
  font-weight: bolder;
  vertical-align: middle;
}

.item-use {
  overflow-wrap: normal;
}

/* .item-stat {
  margin: 5px;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: black;
  border: 1px solid black;
  background-color: white;
} */

.item-stats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.item-stats > .stats-label {
  grid-row: span 2;
}

/* .item-stat-highlight {
  margin: 5px;
  width: 75px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  color: white;
  background-color: greenyellow;
} */

.item-name {
  font-size: larger;
  font-weight: bolder;
}

.item-type {
  margin-left: 5px;
  font-size: smaller;
  font-style: italic;
}

.item-rarity > span {
  font-size: x-large;
}

.action-trigger {
  color: white;
  padding: 5px;
  border-radius: 20px;
}

.action-ability {
  color: white;
  padding: 5px;
  border-radius: 20px;
}

.selected {
  background-color: blue;
  color: white;
}

.item-grid {
  display: flex;
  flex-basis: 100%;
}