.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: dimgray;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
}

.item {
  display: table-row;
  width: 800px;
}

.item > div {
  display: table-cell;
  box-sizing: border-box;
}

.item-image {
  width: 300px;
}

.item-details {
  width: 500px;
}

.stat-highlight {
  color: white;
  background-color: greenyellow;
}