.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  background-color: dimgray;
  color: white;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: black;
  background-color: white;
}

.item {
  width: 800px;
  box-sizing: border-box;
  margin: 10px;
  background-color: black;
  color: white;
}

.item-inner {
  display: table-row;
}

.item-inner > div {
  display: table-cell;
  box-sizing: border-box;
}

.item-image {
  width: 200px;
  vertical-align: middle;
}

.item-details {
  width: 580px;
}

.item-count {
  width: 20px;
  color: white;
  font-weight: bolder;
  vertical-align: "middle";
}

.item-stat {
  margin: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: black;
  background-color: white;
}

.item-stat-highlight {
  margin: 5px;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  background-color: greenyellow;
}

.item-name {
  font-size: larger;
  font-weight: bolder;
}

.item-description {
  height: 50px;
}

.item-type {
  margin-left: 5px;
  font-size: smaller;
  font-style: italic;
}

.action-trigger {
  color: white;
  padding: 3px;
  border-radius: 20px;
}

.action-ability {
  color: white;
  padding: 3px;
  border-radius: 20px;
}